.vertical-center {
  vertical-align: middle;
}

.padding-common {
  padding: 5px 5px 5px 5px;
}

.padding-text {
  padding: 90px 20px 20px 30px;
  width: 65%;
}

.side-by-side {
  box-sizing: border-box;
}

#recipe-detail-img {
  float: left;
  width: 25%;
}

#recipe-detail-text {
  float: left;
  width: 65%;
}

.recipe-options-control {
  cursor: pointer;
}

