<div *ngIf="recipe">

  <div>
    <h2 align="center">
      {{recipe.title | uppercase}}
      <img src="assets/edit.svg" width="2%" align="right" class="padding-common recipe-options-control" (click)="editButtonClickHandler()">
      <img src="assets/delete.svg" width="2%" align="right" class="padding-common recipe-options-control" (click)="deleteButtonClickHandler()">
      <img [src]="recipe.favourite == true ? 'assets/star.svg' : 'assets/star-off.svg' " width="2%" align="right" class="padding-common recipe-options-control" (click)="favouriteButtonClickHandler(recipe.id)">
    </h2>
  </div>

  <div style="width: 100%;">
    <div class="side-by-side" id="recipe-detail-img">
      <img [src]="recipe.image_url" align="left" class="recipe-image-style padding-common">
    </div>

    <div class="padding-text side-by-side" id="recipe-detail-text">
      <p>{{recipe.description}}</p>
      <div>
        Vegetarian
        <img [src]="recipe.vegetarian == true ? 'assets/check-yes.svg' : 'assets/check-no.svg'" width="1.5%">
      </div>
    </div>
  </div>

</div>
