<h1>
  Designed, developed and managed by Swapnil Verma.
</h1>
<br>
<br>
<br>
  Credits:
<br>
  favourite on - <img src="assets/star.svg" width="2%">
<div>
  Icons made by 
  <a href="https://www.flaticon.com/authors/maxim-basinski" title="Maxim Basinski">Maxim Basinski</a> 
  from 
  <a href="https://www.flaticon.com/" 		    title="Flaticon">www.flaticon.com</a>
  is licensed by 
  <a href="http://creativecommons.org/licenses/by/3.0/" 		    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
</div>

  favourite off - <img src="assets/star-off.svg" width="2%">
<div>
  Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a>
  from
  <a href="https://www.flaticon.com/" 		    title="Flaticon">www.flaticon.com</a>
  is licensed by
  <a href="http://creativecommons.org/licenses/by/3.0/" 		    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
</div>

  edit - <img src="assets/edit.svg" width="2%">
<div>
  Icons made by <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a>
  from <a href="https://www.flaticon.com/" 		    title="Flaticon">www.flaticon.com</a>
  is licensed by
  <a href="http://creativecommons.org/licenses/by/3.0/" 		    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
</div>

  checkyes - <img src="assets/check-yes.svg" width="2%">
<div>
  Icons made by <a href="https://www.flaticon.com/authors/maxim-basinski" title="Maxim Basinski">Maxim Basinski</a>
  from
  <a href="https://www.flaticon.com/" 		    title="Flaticon">www.flaticon.com</a>
  is licensed by
  <a href="http://creativecommons.org/licenses/by/3.0/" 		    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
</div>

  check no - <img src="assets/check-no.svg" width="2%">
<div>
  Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a>
  from
  <a href="https://www.flaticon.com/" 		    title="Flaticon">www.flaticon.com</a>
  is licensed by
  <a href="http://creativecommons.org/licenses/by/3.0/" 		    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
</div>

  delete - <img src="assets/delete.svg" width="2%">
<div>
  Icons made by <a href="https://www.flaticon.com/authors/icon-works" title="Icon Works">Icon Works</a>
  from
  <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a>
  is licensed by
  <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
</div>
